<Max-WelcomePage></Max-WelcomePage>
<h2>My Life as a People Person</h2>
<p> In my life I have particiapted in and interacted with communities
    in many and varied ways! Ever since I was a young child I remember enjoying people more than almost anything else in my life. 
    Did I have other hobbies? of course I did! I loved to play videogames - so long as it was with my friends. Football was pretty fun, 
    largely in part due to my friends all being on the team. I loved electronic music, the way it affected people, made them want to get 
    together, made them want to dance. I got into public speaking for a time, I ate up being the center of attention. I even liked debate class
    where I got to try to <em>convince</em> people of things - even if I didn't fully believe it myself. I used to love staying behind after 
    math class to help anyone who needed it, because they always seemed so relieved. 
    So in in short, yes of course I had hobbies - who doesn't? What I came to realize, though, was that the only common denominator - the only thing 
    that kept me coming back time and time again was the <em>people</em> I did these things with. In the end there is nothing more that I love in 
    this life than surrounding myself with the people I love, and helping them do the things that they love.  
</p>

<h3>Youth In Action</h3>

<p>Some of my happiest, and earlier memories are of me leading my 
    local Youth in Action group. It all started with a wonderful history teacher I had in grade ten who I will simply call Mrs B. It's a funny story,
    actually - because though I say she was my grade ten history teacher, I was actually in her grade 11 history course. Well I wasn't <em>in</em> 
    her grade 11 course I just had some friends that were. So history became one of those hobbies that I had because it interested my friends and I 
    started showing up to her history class, without her or anyone elses permission. It was just into the second week of my attending her class and 
    answering questions that she says to me - I was hiding in the back of the class - "I'm sorry but, I'm not sure I caught you with the roll-call,
    what's your name again?" I'm not sure if it was the first time she had ever been told that someone wasn't in there class but just liked sitting 
    with their friends - but it was certainly the first time I had to explain something like it to a teacher. She was more than supportive, and 
    not a week later the grade 10 history pre-requisite had been waived, and I was in her class. <br> <br>

    I like to think she enjoyed me a decent amount because she encouraged me to join Youth In Action - a fundraising group linked with the 
    "Me to We" movement, that she oversaw but allowed the students to actually run. I loved it, it threw me into a group of kids that were 
    motivated, passionate, interesting - and above all <em>loud</em>. My interest in the group ran wild, I couldn't get enough of it - spreading 
    the word, doing great work for individuals that sometimes had no voice. <em>Engaging</em> people, getting them interested. Telling them why 
    they should come out to the assemblies we organized. Telling them who they benifited when they donated that spare can of ham in the back of 
    their cupboard. it wasn't very long until I wanted <em>more</em>. That's when I met an inspiring young woman who's grit and determination 
    didn't only match mine, but blew it out of the water - I'll call her Miss W. She was the leader of Youth in Action at the time - under the 
    supervision of Mrs B. of course. Miss W. was an interesting woman, anything she wanted she fought for, she was busy, organized, driven, and 
    <em>intense</em>, and in the end we co-lead the group. Why? What could someone like Miss W. possibly want from me? I was <em>Loud</em> I was 
    interesting, and I swore just enough to catch people's attention. And we made an incredible team, we started out small - with a couple different 
    initiatives. Miss W. brainstormed ideas I never would have thought of in my life, with hooks that were surpisingly effective. We ran a campaign
    all about donating the amount of money that you would regularly spend on a coffee in the morning - Miss W. was (and I'd wager still is) very driven
    by coffee. She kicked off the idea, she organized the idea, and she told me to <em>sell</em> the idea, because she knew I could. I did. We 
    ended up raising thousands of dollars in pennies, which miss W had organized a deal to have matched in donations by a bank. This was only the 
    begining. You see, Miss W. had a goal of building a school in Haiti, and when she had a goal she didnt stop. Fast forward a year and we are 
    organizing one of the largest fundraisers our school has ever seen, or rather - <em>she</em> is organizing and <em>I</em> am selling. I sold 
    hundreds if not thousands of tickets to come to this assembly - and it was selling them, they each cost 5 dollars. I engaged people, made them 
    laugh told them it would be a good time, and after a while I started promising that if they came they would get to see me speak. <br>
    <b>wait</b> <br>
    they would get to see <em>me</em> speak? See that is the funny part, I hadn't really been on the roster to speak - we had a headliner, Spencer West, who 
    is an incredible speaker, that you should definitely look into if you get the chance - Miss W. had organized some local dance troupes, and a close 
    personal friend of mine was lined up to speak. My friends insisted - they would only buy a ticket if I spoke, and they convinced their friends, and
    before long one of my friends was sitting next to me as I sold tickets chiming in "Max is going to talk too!". It was effective, we sold ticket 
    after ticket after ticket with a laugh and the promise that I would speak, and so I did. I didn't think it would be a big deal because I never 
    envisioned this assembly being as large as it was. In the end Miss W. worked her magic and there was thousands - I believe six thousand - 
    people aged all the way from 6 to 60 sitting waiting for Spencer West to speak, but also - now - Max Moore. <br> 
    And Here is where I really learned about myself.  I thought I would be nervous, I thought that looking out at six thousand people would 
    make me swallow hard, and just maybe vomit. It didnt. 
</p>
<p>
    //TODO INSERT PHOTO //
</p>
<p>
Instead I danced. <br>
And <em>trust me</em> I am <b> not</b> a dancer but I got up on stage before anyone else had said a word, all by myself in front of hundreds if 
not thousands of people when the aptly chosen electronic welcome music was playing, gave a hearty laugh, and danced. I was thrilled. I was thrilled 
to be in front of so many people, people I knew, people I didn't know, and each and every one of them seeing me just being me. Later I spoke and not 
so much as a stutter left my throat. I knew I loved it. I knew I would never go back, and ever since then <em><b> people</b></em> have been a driving 
force in my life. 
</p>

<h3>DJ'ing and My Support Systems.</h3>
<p>
    In the later years of highscool, I was still buzzing from getting to speak in front of so many people, and I wanted to put my money where 
    my mouth was - passion wise atleast. How would I get to feel that energy I love from people? Where would I get access to what seemed like 
    such a fleeting feeling? My answer came in the form of a morning announcement. "Come to the office if you are interested in Dj'ing for 
    the next school dance." Nice. The long story short here is I did end up DJ'ing - and it drove me crazy like any other people-centric hobby I 
    had through all the rest of my life. I did not succeed. I was not an awful DJ by any stretch, I understood how to transition between one song 
    and another, if somewhat awkwardly. I knew songs people liked, but I really didn't have the commitment. This is where my family steps in. My
    Mother never stopped supporting me in my DJ "career" as she would call it. She hated the music I produced, she didn't even really like the 
    partying that went with it, but she saw that I loved it and she helped me at ever turn. DJ'ing is one example in a pile of hundreds where this
    is true, not only of my mother but of my whole family. My Father who is quiet - until he has a beer - pushed me to love music, to love people, 
    to sing even when I am bad at it, and to chase my career like nothing else. My Mother pushed me to be caring, accepting, grateful.
    My brother to be Concise. Accurate. Interesting. Developed. My Sister to be patient, accepting, happy with what I have,
    and not afraid to ask for more. These amongst other contributions, tangible and intangible made me what I am today.  
</p>


<h3>Improvisation, My life or my hobby?</h3>
<p>

In my first year of university I stumbled a little, I didnt' know what I was supposed to do to make friends, I had grown too comfortable, and too
familiar with the group of friends that I already had. New people I met thought I was strange, or loud, awkward, or more likely than not a combination 
of all of the above. I met a friend a few months into University, and she was one of the few people who would talk to me, I'll call her Miss M. Miss 
M was a funny character, her head was in the clouds and you could wonder forever what she was thinking and never have a clue. She was smart as a 
whip though, and had a way of making people laugh in the most wholesome way you could imagine. She convinced me that I should 
reach back to my Drama roots and try out improv comedy with the improv group at McMaster, right when I had almost given up on interacting with society
 as a whole. It renewed 
my love for comedy, for people laughing and being legitmately happy, and I spent a couple years doing it. During my time with the improv club I 
gave performances where people laughed - and where people boo'd. What did I take away from this whole experience? What hit me the hardest about the 
whole ordeal? It really didn't need to be six thousand people laughing with me, it only needed to be a few. My favourite moment in my improv career 
and one of my favourite moments in my life, was when I was presenting to only the improv club. It was sort of a solo-improv set and I was allowed to be as 
not-safe-for-work as I wanted to be. <br> I was. <br> I told a story from the perspective of a cigar-smoking, gun-toting, foul-mouthed  gangster who with no medical 
experience tried to help with the birth of a child who just so happened to be a daemon. The fifteen or so people there who were watching me were dying
with laughter before long, it was my first, and likely only <em>really</em> successful improv set. It felt just as good as dancing in front of 
thousands of people, it felt as good as them all clapping for my performance, it was a feeling I knew, and one I craved.

</p>
<p>
    So I Pivoted this feeling into my day-to-day activitites. I realized I didn't need a stage, six thousand people, or even 15. I didn't need 
    to be the center of attention I just needed to be around people who legitimately loved life. I made it my life goal to be around those kinds of 
    people as often as I could be. I've been extraordinarily successful, I have a wonderful group of friends, who I will never stop loving. Who - 
    atleast hopefully, though maybe I'm being a little over-optimistic - will never stop loving me. Each and every one of my friends are like Miss M. 
    in some way. Light and supportive.  Are like Miss W. Driven and Passionate. Are like my mother. Incorigably caring. Like my
    father. Love people, computers - and music. Some are like my brother. Critical, Engaging. Some are like my sister. Changing, growing, developing,
    and some are like Mrs B. Who took a chance on a kid they didn't really know. They are people who encourage. People who Laugh. People who drive.
    People who inspire. Above all - they are me.  
</p>