<Max-WelcomePage></Max-WelcomePage>
<h2>My Life as a Mathematician</h2>
<p> All of my life I have been enthusiastic about math, from my very early days putting in extra time to 
    help my colleagues with math that they struggle with - to more recent accomplishments. 
</p>

<h3>Master's degree</h3>
<p>The most recent of these accomplishments is the Master's degree in Computer Science I am currently working
    towards. The questions posed in my Thesis, and in my course studies have lead me down 
    many fields of study pertaining to mathematics. 
     A good deal of my study has been to do with queuing theory and
     stochastic processes, which work hand in hand. - 
    where its useful, how we use it, how much it can benifit us, and
    trying myself to further my field of study by combining algorithms
    in new and interesting ways. One such algorithm that I have spent a great deal of time with is called
    SITA-E. 
</p>
<h4>SITA-E</h4>
<p>
        SITA-E (size interval task assignment - equally distributed)
         is a policy that describes the allocation of jobs to a
        set M of i servers which I will denote M<sub>i</sub>. It was
        noted in <i>"On Choosing a Task Assignment Policy for a 
        Distributed Server System"
        <sup>1999</sup></i> that there was already a very strong
        dynamic algorithm which, knowing the task service-time and 
        the current length of jobs in the queues at each server
        would simply choose the lightest loaded server in terms 
        of total service time for all of the jobs that are 
        currently stored in the queue. However it was found that
        since there was no way of lowering the variance of the 
        jobs distributed to certain servers that this could in 
        some cases be far from an optimal policy. Thus SITA based 
        policies were introduced to try to lower the variance of 
        service time seen by each server. The idea behind the set 
        of policies is that jobs in a certain range of service 
        times would be distributed to a certain server; for 
        instance any jobs taking 0 to 5 seconds could go to server
        1, 5 to 10 seconds to server 2, etc. Having said this 
        is well known that servers which are equally balanced
        (in terms of utilization) perform optimally, for 
        obvious reasons - which is why SITA-E, meaning equally
        loaded is such a strong load-distributing algorithm.
        Here the delimiters between differing sizes of jobs 
        are chosen intelligently given the task-size
        distribution such that the load across all servers 
        as time approaches infinity is perfectly balanced.
        That is to say that servers that are being given
        smaller jobs will be given a larger number of them
        and that servers that are given large jobs will
        be given fewer of them, such that the servers in
        the 
        long-term-average are working an equal amount of time.  </p>
        <h4>Matrices - and why I love them</h4>
        <p>
        My grade ten math teacher introduced me to matrices - the 
        concept as a whole and how it could make my current linear
        algebra marginally faster with a couple tips and tricks, done
        by hand, mind you. Let me tell you the whole concept drove
        me absolutely crazy! <em>Why?</em> the question plauged my
        math classes. Fast forward a few years to 
        my first year Engineering linear algebra class;
        now a whole course on 
        working with this simple linear algebra again -
        marginally faster.
        <br> <strong>why</strong> why 
        <small>why?</small> <sup>why?</sup> <sub>why?</sub> <br> 
        The questions wouldn't leave me alone. I was flabbherghasted, 
        shocked, <em>appauled</em>, that 'they' would waste so much of my
        time to show me a few tips and tricks the would never do anything
        more than save me a couple minutes if I wanted to find the intersection 
        of two lines. Or three I guess. Or four... wait a second
        <br>
        <b><i>Bang.</i></b>
        <br>
        Suddenly linear algebra wasn't three numbers to me anymore -
        it was a growth vector. It was a cost we were trying to minimize
        across thousands of values. It was a set of linear equations 
        that represented constraints on an objective value function.
        An objective value that was <em>money</em>. that was 
        <em>speed</em>. that was <em>customer satisfaction</em>. that 
        was <em> suspected bacteria growth</em>. 
        Wait, erm, bacteria growth? Ok so 
        maybe not all of the work I have done with matrices has been as
        interesting as the rest. <br> 
        but the long story short was that this changed my world
        suddenly I was interested in everything mathematical.Could I 
        make a steepest descent method to find my lowest cost possible
        within an espilon? scratch that - <em>any</em> epsilon I pleased. 
        Could I model planet movement with a runge-kutta approximation of
        their acceleration due to gravity? <a href="./MathPage">TODO</a> - I could. I could do it 
        automatically. I could do it as precisely and for as long 
        of a duration as I wanted. I could make beautiful - colourful 
        models of this planet movement. I could write intelligent 
        discourse about how accurate or innacurate the model was. Not
        only that, I understood <em>why</em>, I could do anything. Or maybe 
        I would just start with a masters.
        <br>
        My Masters would push me further into Linear Algebra, how <em>fast</em> could this go? How <em> many </em> variables could I compute? how 
        <em>small</em> of a tolerance could I set? This lead me to discover preconditioners, and every non-singular NxN matrix solving method
        under the 
        sun. One of which I Studied a great deal. <a href="https://v2.overleaf.com/read/rmbvhhnmsmcg">Bi-Conjugate Gradient Stabalized Method</a>
        take a look at the paper 
        that 2 other master's students and myself ended up writing. Comedically enough the literature likes to call this BCG-Stab method. 
        Math people are wild. 
 

    
        </p>